@page "/"

<h1>Bienvenue !</h1>

<div>
	C'est une application de test pour le post sur "Accès à une API via une autorisation basée sur les rôles" sur le site : <a href="https://wwww.ctrl-alt-suppr.dev">ctrl-alt-suppr.dev</a>
</div>
